In [1]:
import csv,os,re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nltk

In [3]:
df = pd.read_csv('Data/dataset.csv',names=['Author','Text'])

          Author                                               Text
0  AaronPressman  U.S. Senators on Tuesday sharply criticized a ...
1  AaronPressman  Two members of Congress criticised the Federal...
2  AaronPressman  Commuters stuck in traffic on the Leesburg Pik...
3  AaronPressman  A broad coalition of corporations went to Capi...
4  AaronPressman  On the Internet, where new products come and g...